@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300&display=swap');

html,
body {
  height: 100%;
  background-color: blue;
  font-family: 'Source Sans Pro', sans-serif;
}